
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Login</h1>

<form method="post" action="Login">
    <div>
        <label for="usrname">Username:</label>
        <input type="text" id="usrname" name="usrname" />
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" />
    </div>

    <div>
        <button type="submit">Submit</button>
    </div>
</form>